@model WebTest.Data.Devices.DeviceEntity

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PairingDate" class="control-label"></label>
                    <input asp-for="PairingDate" class="form-control" />
                    <span asp-validation-for="PairingDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Connect" /> @Html.DisplayNameFor(model => model.Connect)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
    </div>

    <a asp-action="Index"><button class="btn btn-secondary mt-2">Back to list</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}