@using WebTest.Data.Profiles
@model WebTest.Models.Profile.ProfileIndexVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="User.Id" />
                <div class="form-group">
                    <label asp-for="User.FirstName" class="control-label"></label>
                    <input asp-for="User.FirstName" class="form-control" />
                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="User.LastName" class="control-label"></label>
                    <input asp-for="User.LastName" class="form-control" />
                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success mt-2" />
                </div>
            </form>
            @if(Model.User.Profile == null)
            {
                <form asp-action="Index">
                    <button class="btn btn-info mt-2 text-white">create a <b><u>profile</u></b></button>
                </form>
            }
            else
            {
                <form asp-action="Edit">
                    <input type="hidden" asp-for="User.Profile.Id" />
                    <input type="hidden" asp-for="User.Profile.UserId" />
                    <div class="form-group">
                        <label asp-for="User.Profile.BloodType" class="control-label"></label>
                        <select asp-for="User.Profile.BloodType" asp-items="Html.GetEnumSelectList<BloodType>()" class="form-control">
                            <option value="">-- Select --</option>
                        </select>
                        <span asp-validation-for="User.Profile.BloodType" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="User.Profile.Rh" /> @Html.DisplayNameFor(model => model.User.Profile.Rh)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-success mt-2" />
                    </div>
                </form>
            }
            <a asp-action="Index"><button class="btn btn-secondary mt-2">Back to list</button></a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
