@using WebTest.Data.Tests
@model WebTest.Data.Tests.TestEntity

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SafeRange" class="control-label"></label>
                    <input asp-for="SafeRange" class="form-control" />
                    <span asp-validation-for="SafeRange" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Unit" class="control-label"></label>
                    <input asp-for="Unit" class="form-control" />
                    <span asp-validation-for="Unit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ValueTemplate" class="control-label"></label>
                    <input asp-for="ValueTemplate" class="form-control" />
                    <span asp-validation-for="ValueTemplate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TestType" class="control-label"></label>
                    <select asp-for="TestType" asp-items="Html.GetEnumSelectList<TestType>()" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="TestType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BodyMeasure" class="control-label"></label>
                    <select asp-for="BodyMeasure" asp-items="Html.GetEnumSelectList<BodyMeasure>()" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="BodyMeasure" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
    </div>

    <a asp-action="Index"><button class="btn btn-secondary mt-2">Back to list</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
