@using WebTest.Data.Tests
@model WebTest.Data.Tests.TestEntity

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group" id="TestType">
                    <label asp-for="TestType" class="control-label">Test Type</label>
                    <select asp-for="TestType" asp-items="Html.GetEnumSelectList<TestType>()" class="form-control" id="TestTypeInput">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="TestType" class="text-danger"></span>
                </div>
                <div class="form-group" id="BodyMeasure">
                    <label asp-for="BodyMeasure" class="control-label">Body Measure</label>
                    <select asp-for="BodyMeasure" asp-items="Html.GetEnumSelectList<BodyMeasure>()" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="BodyMeasure" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <div class="row">
                        <div class="col-10" id="ValueDiv">
                            <input asp-for="Value" class="form-control" />
                        </div>
                        <div class="col-2" style="margin-top: 7px;" id="ValueUnit">
                            
                        </div>
                    </div>
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index"><button type="button" class="btn btn-secondary">Back to list</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/tests.js"></script>