@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Measurement of body parameters</h1>
    <p>A page for recording body parameters. <a href="/Identity/Account/Login">Login</a> or <a href="/Identity/Account/Register">register</a> to add your measurements.</p>
</div>
