@using WebTest.Data.Users
@model WebTest.Data.Users.UserEntity

@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h1>Create</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BloodType" class="control-label"></label>
                    <select asp-for="BloodType" asp-items="Html.GetEnumSelectList<BloodType>()" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="BloodType" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Rh" /> @Html.DisplayNameFor(model => model.Rh)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mt-2" />
                </div>
            </form>
        </div>
    </div>

    <a asp-action="Index"><button class="btn btn-secondary mt-2">Back to list</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
